@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Acme", sans-serif;
    font-size: 14px;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:#fdb44b;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
}
.weather-app{
     background:  linear-gradient(10.6deg, rgb(5, 69, 77) 1.2%, rgb(186, 232, 232) 91.1%);

     min-width:fit-content;
     max-width: 35rem;
     max-height: 100vh;
     padding: 2em;
     box-shadow: -2px 18px 24px 6px rgba(0, 0, 0, 0.7);
     border-radius: 2em;
     border: 2px groove rgba(33, 43, 50, 0.527);
     text-align: center;
    }
.forecast-box{
    display: grid;
    margin-left: 20px;

}
.box-column{
     display: grid;
     grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr;
    width:150px;
    text-align: center;
    align-content: center;
    row-gap: 3em;
    }
.day-one, .day-three, .day-two{
    border: 1px solid slategrey;
    background: linear-gradient(10.6deg, rgb(5, 69, 77) 1.2%, rgb(186, 232, 232) 91.1%);
    height: 100px;
    box-shadow: -2px 18px 24px 2px rgba(0, 0, 0, 0.4);
    border-radius: 1em;
}

.local{
    padding-left: 5px;
    letter-spacing: .5px;
    font-family: "Bitter", serif;
    font-size: 14px;
    font-weight: 600;

 }
.search-up{
    margin-bottom: 0.5em;
    display: flex;
    position: relative;
    top:-0.5em;
    margin-top: -1em;
    justify-content: center;
}
.search-up i{
    color: #212b32;
}
.search-bar{
    display:block;
    position: relative;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.search-bar input::placeholder{
    color:antiquewhite;
    font-family: 'Bitter', serif;
    font-size: 12px;
}
.search-bar input:focus::placeholder{
    color:transparent;
}
.search-bar i{
    position: absolute;
    transform: translateY(-50%);
    right: .5rem;
    top: 50%;
    color: antiquewhite;
}
input{
    text-align: left;
    margin: .25em;
    background-color: #212b327c;
    border-radius: 0.3em;
    padding: 3px;
    border: 1.5px solid rgb(33, 43, 50);
}
img{
    width: 150px;
}
.temp{
    font-size: 48px;
    font-family:'Segoe UI', monospace;
    margin-bottom: .25em;
    font-weight: 600;
}
.date{
    margin-bottom: 1em;
    word-spacing: .1em;
}
.weather-description{
    font-size: 18px;
    margin-bottom: .5em;
}
.weather-details{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 1;
    font-family: "Bitter", serif;
    font-size: 18px;
    column-gap: 20px;

}
.humidity, .wind{
    background: rgba(225, 225, 226, 0.372);
    border-radius: 5px;
}

.weather-details i{
    grid-row: 2;
    font-size: 12px;
    }
.footer a{
    color:rgb(248, 187, .7);
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 2px;
}
footer{
    margin-top: 1.5em;
}
.footer, .footer p{
    font-size: 12px;
}


